body {
color: #000;
font-family: 'Roboto', 'Open Sans', sans-serif;
background-color: #fff;
text-align: center;
}

div {
  display: block;
}

/* Header and Navbar */
.header {
  display: flex;
  flex-direction: column;
}

.header h1 {
  display: block;
  font-size: 5em;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0 10%;
  font-size: 2em;
}

.navbar a {
  color: #000;
  text-decoration: none;
}

.navbar a:active {
  color: #ff99d8
}

/* Mission */
.mission {
  display: flex;
  height: 500px;
  background-image: url(https://s.abcnews.com/images/US/salon-02-as-ht-200523_hpMain_2_16x9_992.jpg);
  background-size: cover;
}

.mission .content {
  margin: auto;
  width: 100%;
  font-size: 1.5em;
}

/* Services */
.services {
  display: flex;
  flex: wrap;
  justify-content: center;
}

.services img {
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.service {
  padding: 10px;
}

.services h3 {
  cursor: pointer;
}

/* The Team */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.team img {
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.team-member {
  padding: 10px;
}
